.contenidodescargas{
    grid-area: contenidoindex;
    background: map-get($fondo , background );
    border-radius: nth($size , 4 );
    .table-responsive{
        text-shadow: map-get($texto , shadow );
        color: nth($color , 4 );
        margin: nth($size , 6 );
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .alert{
        background-color: nth($color , 3 );
        position: relative;
        padding: nth($size , 4 );
        margin-bottom: nth($size , 1 );
        border: 1px solid transparent;
        border-radius: nth($size , 2 );
        height: nth($size , 7 );
        color: $color-texto;
        font-family: $tipografia-general;
    }
}














