body{
    background-image: url(.../img/fondo.png);
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    .logo{
        margin-left: nth($size , 21 );
    }
    .main_index{
        margin-left: nth($size , 20 );
        margin-right: nth($size , 20 );
        .navbar{
            grid-area: navbar;
            background-image: url(.../img/navbar.png);
            height: nth($size , 10 );
            padding-left: nth($size, 16 );
            background-repeat: no-repeat;
            font-family: $tipografia-general;
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        text-shadow: 0 0 3px rgb(138, 0, 218);
                        color: nth($color , 4 );
                        font-size: x-large;
                    }
                    .dropdown-item{
                        text-shadow: 0 0 3px rgb(83, 14, 126);
                        color: nth($color , 4 );
                        background-color: rgba(60, 147, 158, 0.466);
                    }
                }
            }
        }
        .container_index{
            grid-area: container_index;
            display: grid;
            grid-template-columns: 550px 550px 360px;
            grid-template-rows: 300px 450px;
            grid-template-areas:"carrusel carrusel formulario" "contenidoindex contenidoindex banners";
            .carousel{
                grid-area: carrusel;
                width: nth($size , 23 );
                margin-left: nth($size , 7 );
                margin-top: nth($size , 5 );
                .carousel-control-prev-icon, .carousel-control-next-icon {
                    filter: invert(108%);
                }
            }
            .contenidoindex{
                grid-area: contenidoindex;
                background: map-get($fondo , background );
                border-radius: nth($size , 4 );
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: 150px 300px;
                grid-template-areas: "youtube tituloindex" "youtube textoindex";
                .youtube{
                    grid-area: youtube;
                    width: nth($size , 23 );
                    margin-top: nth($size , 8 );
                    margin-left: nth($size , 6 );
                }
                .tituloindex{
                    grid-area: tituloindex;
                    width: nth($size , 22 );
                    font-family: $tipografia-titulo;
                    padding: nth($size , 5 );
                    color: nth($color, 4 );
                    text-align: center;
                    margin-left: nth($size , 7 );
                }
                .bienvenida{
                    grid-area: textoindex;
                    font-family: $tipografia-general;
                    font-size: large;
                    padding: nth($size , 6 );
                    text-shadow: map-get($texto , shadow );
                    color: nth($color , 4 );
                }
            }
            .formulario{
                grid-area: formulario;
                width: nth($size , 22 );
                margin-left: nth($size , 6 );
                margin-top: nth($size , 5 );
                margin-bottom: nth($size , 7 );
                border-radius: nth($size , 4 );
                padding-left: nth($size , 7 );
                padding-top: nth($size , 4 );
                background: map-get($fondo , background );
                font-family: $tipografia-general;
                text-shadow: map-get($texto , shadow );
                color: nth($color , 4 );
            }
            .banners{
                margin-left: nth($size , 4 );
                grid-area: banners;
                .foro{
                    margin-left: nth($size , 6 );
                }
                .woe{
                    margin-left: nth($size , 7 );
                }
            }
        }
    }
    .footer{
        margin-top: nth($size , 12 );
        @include footer (rgba(199, 188, 223, 0.342) , 0);
        height: nth($size , 8 );
        border-top: 1px dashed whitesmoke;
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: auto;
        grid-template-areas: "derechos derechos derechos rologo logofooter";
        .derechosreservados{
            grid-area: derechos;
            font-family: $tipografia-general;
            color: nth($color , 6 );
            padding-top: nth($size , 6 );
            text-shadow: 0 0 5px rgb(250, 250, 250);
            margin-left: nth($size , 5 ) ;
            font-size: small;
        }
        .logofooter{
            grid-area: logofooter;
            padding: nth($size , 5 );
        }
        .logoragnarok{
            grid-area: rologo;
            margin-left: nth($size , 15 );
        }
    }
}